<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bank Note Authentication App</title>
    <link href="./static/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="./static/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="./static/select2.min.css" rel="stylesheet" media="all">
    <link href="./static/daterangepicker.css" rel="stylesheet" media="all">
    <link href="./static/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <form action="/predict" method="post">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Bank Note Authentication App</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-row">
                            <div class="name">Variance</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="variance">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Skewness</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="skewness">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Curtosis</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="curtosis">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Entropy</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="entropy">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">predict</button>
                        </div>
                    </form>
                    <br>
                    <label class="predict">{{ prediction_text}}</label>  
                </div>
            </div>
        </div>
    </form>
    </div>
</body>
</html>